<!--produto.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe do produto</title>
</head>
<body>
    <h1>Detalhe do Produto</h1>
    <p><strong>ID:</strong>{{produto.id}}</p>
    <p><strong>Nome:</strong>{{produto.nome}}</p>
    <p><strong>Preço:</strong>{{produto.preco}}</p>
    <p><strong>Quantidade:</strong>{{produto.quantidade}}</p>
    <p><strong>Imagem:</strong>{{produto.imagem}}</p>
    <a href="/">Voltar</a>
</body>
</html>