<!--index.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de produtos</h1>
    <ul>
        {% for i in produtos %}
        <li>
            {% if imagem %}
                <br><img src="/static/uploads/{{i.imagem}}" alt="{{i.nome}}" width="80">
            {% else %}
                <br><img src="/static/uploads/{{i.imagem}}" alt="{{i.nome}}" width="80">
            {% endif %}
            <a href="/produtos/{{i.id}}">{{i.nome}}</a> - R$ {{i.preco}}
        </li>
        {% endfor %}
    </ul>
</body>
</html>